* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: white;
}
@media screen and (max-width: 992px) {
    html {
        font-size: 8px;
    }
}  

@media screen and (max-width: 350px) {
    html {
        font-size: 7px;
    }
}

a {
    text-decoration: none;
}
.body {
    height: 100vh;
    width: 100%;
}

.headline-container {
    padding: 60px;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media screen and (max-width: 992px) {
    .headline-container {
        padding: 50px;
    }
}  
@media screen and (max-width: 600px) {
    .headline-container {
        height: 90vh;
        padding: 30px;
    }
}

#headline {
    background-image: url(./assests/kelementaxi-background-color.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#headline::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#headline h1 {
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: white;
    margin-bottom: 10px;
}

#headline h2 {
    display: flex;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    font-weight: 400;
    margin-bottom: 60px;
}

#headline .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px 30px;
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: .1rem;
    border: 1px solid  rgb(255,209,122);
    color: rgb(255,209,122);
    font-weight: 800;
}

#headline .phone{
    padding-right: 10px;
}

.container {
    color: rgb(13, 13, 13);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: normal;
    line-height: 28px;
}

@media screen and (min-width: 500px) {
    .container {
        line-height: 30px;
        padding-left: 120px;
        padding-right: 120px;    
    }
}

@media screen and (min-width: 1200px) {
    .container {
        line-height: 32px;
        padding-left: 300px;
        padding-right: 300px;    
    }
}

.title {
    display: block;
    width: fit-content;
    font-size: 4.5rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 40px;
}

#ford .ford-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#ford .image {
    width: 90%;
}

@media screen and (min-width: 500px) {
    #ford .image {
        width: 70%;
    }
}
@media screen and (min-width: 900px) {
    #ford .image {
        width: 50%;
    }
}

#ford .capacity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: rgb(13, 13, 13);
    width: 100%;
}

#ford .capacity-number {
    display: flex;
    font-size: 3rem;
    align-items: center;
    padding-right: 10px;
}
#ford .capacity-icon {
    width: 6rem;
    margin: 5px;
}


.services {
    background-color:rgb(13, 13, 13);
    color: white;
}

.serviceitem-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
    width: 40%;
}


.service-icon {
    width: 7rem;
    margin: 5px;
}


.wordcloud {
    max-width: 100%;
    margin: 20px;
}

.about-container {
    background-color: rgb(240, 240, 240);
    text-align: center;
}

#about .cta {
    color: rgb(13, 13, 13);
    border-color: rgb(13, 13, 13);
}

.footer {
    background-color: rgb(13, 13, 13);
    color:rgb(122, 125, 127);
    font-size: 1.5rem;
    padding: 20px;
    justify-content: center;
}