/* @import url('https://fonts.google.com/css?family=Montserrat:300,400,700&display=swap'); */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: white;
    /* background-color: black; */
}
@media screen and (max-width: 992px) {
    html {
        font-size: 12px;
    }
}  
@media screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
}

a {
    text-decoration: none;
}
.body {
    height: 100vh;
    width: 100vw;
}

.headline-container {
    padding: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media screen and (max-width: 992px) {
    .headline-container {
        padding: 50px;
        width: 100%;
    }
}  
@media screen and (max-width: 600px) {
    .headline-container {
        height: 90vh;
        padding: 30px;
        width: 100%;
    }
}

#headline {
    background-image: url(./assests/kelementaxi-background-color.jpg);
    /* background-image: url(./assests/city-shiluoette.jpg); */
    background-size: cover;
    /* background-color: #F3F1F3; */
    /* background-position: 10% 15%; */
    background-position: bottom center;
    position: relative;
    z-index: 1;
}

#headline::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    /* opacity: .64; */
    opacity: .7;
    z-index: -1;
}

#headline h1 {
    display: block;
    width: fit-content;
    font-size: 6rem;
    position: relative;
    color: white;
    margin-bottom: 10px;
}

#headline h2 {
    display: flex;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    /* color: white; */
    font-weight: 400;
    margin-bottom: 60px;
}

#headline .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px 30px;
    /* padding: 20px; */
    /* padding: 20px 46px; */
    margin-top: 30px;
    font-size: 2rem;
    letter-spacing: .1rem;
    /* border-radius: 25px; */
    /* border: 1px solid rgb(255,230,82); */
    border: 1px solid  rgb(255,209,122);
    /* color: rgba(255,255,255,.8); */
    /* color: white; */
    color: rgb(255,209,122);
    /* background-color: rgb(255,230,82); */
    font-weight: 800;
}

#headline .phone{
    padding-right: 10px;
}

.container {
    color: rgb(13, 13, 13);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ford .ford-container {
    /* min-height: 70vh; */
}

#ford .image {
    width: 70%;
    margin-bottom: 20px;
}

#ford .capacity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: rgb(13, 13, 13);
}

#ford .capacity-number {
    display: flex;
    font-size: 4rem;
    align-items: center;
    padding-right: 10px;
    /* fill: yellow; */
}
#ford .capacity-icon {
    width: 50px;
    margin: 5px;
    fill: white;
}


.services {
    background-color:rgb(13, 13, 13);
    color: white;
}

.serviceitem-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.service-icon {
    width: 50px;
    margin: 5px;
}


.wordcloud {
    padding-top: 50px;
    width: 90%;
}

.about-container {
    background-color: rgb(240, 240, 240);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#about .cta {
    color: rgb(13, 13, 13);
    border-color: rgb(13, 13, 13);
    /* background-color: rgb(13, 13, 13); */
}